.App {
  max-width: 600px;
  margin: auto;
  padding-top: 64px;
  text-align: center;
}

.flex{
  display: flex;
}

.temp-current{
  font-size: 3.4375rem;
  margin-top: 53px;
  margin-bottom: 5px;
}

.temp-minmax{
  font-size: 1.4375rem;
  margin-bottom: 53px;
}

.temp-minmax span{
  margin: 0 13.5px;
}

.temp-minmax span:first-child{
  margin-left: 0;
}

.controls{
  display: inline-block;
  margin-top: 50px;
}

.controls label{
  display: block;
  text-align: left;
}

.controls input{
  width: 105px;
  margin-right: 10px;
}

.controls input,
.controls button{
  padding: .25rem;
}